.pifa-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pifa-products {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.pifa-products.pifa-per-row-2 .product-item {
    width: calc(50% - 8px);
}
.pifa-products.pifa-per-row-3 .product-item {
    width: calc(33.333% - 8px);
}
.pifa-products.pifa-per-row-4 .product-item {
    width: calc(25% - 8px);
}
.pifa-products.pifa-per-row-5 .product-item {
    width: calc(20% - 8px);
}
.pifa-products.pifa-per-row-6 .product-item {
    width: calc(16.666% - 8px);
}
.product-item {
    height: auto;
    margin: 4px;
    position: relative;
}
.product-item .product-image {
    width: 100%;
    display: block;
    padding-top: 100%;
    text-indent: -9999px;
    background-size: cover;
    background-position: center center;
}
.product-item .product-meta {
    width: 100%;
    transition: .25s;
    padding: 5px 10px;
    text-align: center;
}
.product-item .sale {
    padding-right: 10px;
}
.pifa-products .product-item h2 {
    margin: 0;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pifa-button {
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #daa520;
    text-shadow: 0 -1px 0 #a9811c;
}